:root {
  /* FONT-FAMILY */
  --font-title: "Muli", sans-serif;
  --font-text: 'Lato', sans-serif;
  /* COULEURS */
  --light: #3C8CBC;
  --primary: #25526E;
  --secondary: #303030;
  --dark: #161616;
  --white: #fafafa;
  --text: #333;
  --hint: #999;
  --border: #ddd; }
